body {
  margin: 0;
}

#player {
  position: fixed;
  height: 10px;
  width: 50px;
  background-color: green;
}

#game {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid blue;
  transform: translate(-50%, -50%)
}

.enemy {
  position: fixed;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: black;
  top: 5px;
}
